{% extends 'overAllTemplate.html' %} 
{% load staticfiles %}

{% block 'includeOtherJSFiles' %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{%static 'js/highChartGraph.js'%}"> </script>
{% endblock %}

ictContent['Humidity'] = splitLine[6]
                dictContent['CO2'] = splitLine[7]
                dictContent['fig210_sens'] = splitLine[19]
                dictContent['fig280_sens'] = splitLine[21]
                dictContent['e2vo3_sens'] = splitLine[25]

{% block 'container' %}
    <div class="row">
        <div class="col-md-3 sidebar">
          <h4>Timeseries plots</h4>
          <ul class="nav nav-sidebar">
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'Temperature');return false;">Temperature </a></li>
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'Humidity');return false;" >Humidity</a></li>
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'CO2');return false;">CO2</a></li>
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'fig210_sens');return false;">fig210_sens</a></li>
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'fig280_sens');return false;">fig280_sens</a></li>
            <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent }},'e2vo3_sens');return false;">e2vo3_sens</a></li>
          </ul>
          <h4>Scatter Plot</h4>
          <ul class="nav nav-sidebar">
            <li><a href="#" onclick="getScatterPlotGraph({{ displayContent }},'Temperature' , 'Humidity');return false;">Temperature Vs Humidity </a></li>
          </ul>
          <h4>Box Plot</h4>
          <ul class="nav nav-sidebar">
            <li><a href="#" onclick="getBoxPlotGraph({{ displayContent }});return false;">Box Plot</a></li>
          </ul>
        </div>
        <div class="col-md-9 main">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 
        </div>
    
{% endblock %}


{% block 'justbeforebodyends' %}
<script type="text/javascript">
    getTimeSeriesGraph({{ displayContent | safe }}, 'Temperature');
</script>
{% endblock %}