{% extends 'overAllTemplate.html' %} 
{% load staticfiles %}

{% block 'includeOtherJSFiles' %}
    <script src="{%static 'js/highcharts.js'%}"></script>
    <script src="{%static 'js/highcharts-more.js'%}"></script>
    <script src="{%static 'js/exporting.js'%}"></script>
    <script src="{%static 'js/highChartGraph.js'%}"> </script>
    <script src="{%static 'js/jquery-ui.js'%}" charset="utf-8"></script>
{% endblock %}



  {% block 'container' %}
      {% if displayContent2 %}
      <div class="row">
        <div class="col-md-3 sidebar">
          <h4>Timeseries plots</h4>
          <ul class="nav nav-sidebar">
            <!-- <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }}, {{ displayContent2 }}, 'Temperature');return false;">  Temperature   </a></li>
            <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }}, {{ displayContent2 }},  'Humidity');return false;" >Humidity  </a></li>
            <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }}, {{ displayContent2 }}, 'CO2');return false;">CO2</a></li>
            <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }}, {{ displayContent2 }}, 'Light VOCs');return false;">  Light VOCs</a></li>
            <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }}, {{ displayContent2 }}, 'Heavy VOCs');return false;">  Heavy VOCs</a></li>
            <li><a href="#" onclick="getCompareTimeSeriesGraph({{ displayContent1 }},{{ displayContent2 }},  'O3');return false;"> O3</a>  </li> -->
            <label for="pollutant6">Pollutant : </label>
             <select name="pollutant6" id="pollutant6">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <button onclick="getCompareSelectedPollutantAndPlot()" class="btn btn-primary btn-block">Plot</button>
          </ul>
          <h4>Non-Timeseries Plot</h4>
           <ul class="nav nav-sidebar">
             <!-- <li><a href="#" onclick="getDoubleYAxisPlotGraph({{ displayContent1 }});return false;">Temperature Vs Humidity</a></li> -->
             <label for="pollutant7">Pollutant: </label>
              <select name="pollutant7" id="pollutant7">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <button onclick="getSelectedPollutantNonTimeSeriesComparePlot()" class="btn btn-primary btn-block">Plot</button>
           </ul>
          <h4>Scatter Plot</h4>
          <ul class="nav nav-sidebar">
            <!-- <li><a href="#" onclick="getCompareScatterPlotGraph({{ displayContent1 }},{{ displayContent2 }}, 'Temperature' , 'Humidity');return   false;  ">Temperature Vs Humidity </a></li> -->
            <label for="pollutant1">Pollutant 1: </label>
              <select name="pollutant1" id="pollutant1">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <label for="pollutant2">Pollutant 2: </label>
              <select name="pollutant2" id="pollutant2">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <button onclick="getCompareSelectedPollutantsAndPlot()" class="btn btn-primary btn-block">Plot</button>
          </ul>
          <h4>Box Plot</h4>
          <ul class="nav nav-sidebar">
            <!-- <li><a href="#" onclick="getCompareBoxPlotGraph({{ displayContent1 }},{{ displayContent2 }});return false;">Box Plot</a></li> -->
            <label for="pollutant3">Pollutant: </label>
            <select name="pollutant3" id="pollutant3">
              <option selected="selected">Temperature</option>
              <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
            </select>
            <br>
            <button onclick="getCompareSelectedPollutantAndBoxPlot()" class="btn btn-primary btn-block">Plot</button>
          </ul>
        </div>
        <div class="col-md-9 main">
          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> 
        </div>
      </div>
      {% else %}
      <div class="row">
         <div class="col-md-3 sidebar">
           <h4>Timeseries plots</h4>
           <ul class="nav nav-sidebar">
             <!-- <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'Temperature');return false;">   Temperature   </a></li>
             <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'Humidity');return false;" > Humidity  </a></li>
             <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'CO2');return false;">CO2</a></li>
             <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'Light VOCs');return false;">   Light VOCs</a></li>
             <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'Heavy VOCs');return false;">   Heavy VOCs</a></li>
             <li><a href="#" onclick="getTimeSeriesGraph({{ displayContent1 }},'O3');return false;">  O3</a>  </li> -->
             <label for="pollutant">Pollutant : </label>
             <select name="pollutant" id="pollutant">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <button onclick="getSelectedPollutantAndPlot()" class="btn btn-primary btn-block">Plot</button>
           </ul>
           <h4>Scatter Plot</h4>
           <ul class="nav nav-sidebar">
             <!-- <li><a href="#" onclick="getScatterPlotGraph({{ displayContent1 }},'Temperature' , 'Humidity') ;return   false;  ">Temperature Vs Humidity </a></li>
             <li> -->
              <label for="pollutant1">Pollutant 1: </label>
              <select name="pollutant1" id="pollutant1">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <label for="pollutant2">Pollutant 2: </label>
              <select name="pollutant2" id="pollutant2">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <button onclick="getSelectedPollutantsAndPlot()" class="btn btn-primary btn-block">Plot</button>
            </li>
           </ul>
           <h4>Box Plot</h4>
           <ul class="nav nav-sidebar">
             <!-- <li><a href="#" onclick="getBoxPlotGraph({{ displayContent1 }});return false;">Box Plot</a></li> -->
             <!-- <br> -->
             <label for="pollutant3">Pollutant: </label>
              <select name="pollutant3" id="pollutant3">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <button onclick="getSelectedPollutantAndBoxPlot()" class="btn btn-primary btn-block">Plot</button>

           </ul>
           <h4>Double Y-axis Plot</h4>
           <ul class="nav nav-sidebar">
             <!-- <li><a href="#" onclick="getDoubleYAxisPlotGraph({{ displayContent1 }});return false;">Temperature Vs Humidity</a></li> -->
             <label for="pollutant4">Pollutant 1: </label>
              <select name="pollutant4" id="pollutant4">
                <option selected="selected">Temperature</option>
                <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
              </select>
              <br>
              <label for="pollutant5">Pollutant 2: </label>
                <select name="pollutant5" id="pollutant5">
                  <option selected="selected">Temperature</option>
                  <option>Humidity</option>
                <option>CO2</option>
                <option>CO2 (PPM)</option>
                <option>CO</option>
                <option>CO (PPM)</option>
                <option>Light VOCs</option>
                <option>Light VOCs (PPM)</option>
                <option>Heavy VOCs</option>
                <option>Heavy VOCs (PPM)</option>
                <option>O3</option>
                <option>O3 (PPB)</option>
                <option>PM1.0 </option>
                <option>PM1.0 (ug/m^3) </option>
                <option>PM2.5 </option>
                <option>PM2.5 (ug/m^3)</option>
                <option>PM10 </option>
                <option>PM10 (ug/m^3)</option>
                </select>
              <br>
              <button onclick="getSelectedPollutantAndDoubleYAxisPlot()" class="btn btn-primary btn-block">Plot</button>
           </ul>
         </div>
         <div class="col-md-9 main">
           <div id="container" ></div> 
         </div>
      </div>
      {% endif %}

      
  {% endblock %}
  
  
  {% block 'justbeforebodyends' %}
  <script type="text/javascript">

      // console.log({{ displayContent1 | safe }})
      // console.log({{ displayContent2 | safe }})
      
      var specialValues = {{ displayContent1 | safe }}.pop()

      // jQuery for Slope
      var divSpecialSlope = $('<div/>', {
        'class': 'input-group',
        'id': 'slopeParameter'
      })
      var divSpecialSlopeSpan = $('<span/>', {
        'class': 'input-group-addon',
        'id': 'basic-addon3'
      }).html('Slope');
      var divSpecialSlopeSpanInput = $('<input/>',{
        'type': 'text',
        'class':'form-control',
        'id': 'slope',
        'aria-describedby': 'basic-addon3'
      })
      // jQuery for Intercept
      var divSpecialIntercept = $('<div/>', {
        'class': 'input-group',
        'id':'interceptParameter'
      })
      var divSpecialInterceptSpan = $('<span/>', {
        'class': 'input-group-addon',
        'id': 'basic-addon3'
      }).html('Intercept');
      var divSpecialInterceptSpanInput = $('<input/>',{
        'type': 'text',
        'class':'form-control',
        'id': 'intercept',
        'aria-describedby': 'basic-addon3'
      })


      $('#pollutant').change(function(){
          // Logic for which button is clicked, the slope and intercept are updated accordingly
          if ($('#pollutant').find(":selected").text() == "CO2 (PPM)"){
            divSpecialSlopeSpanInput.val(specialValues.CO2_ppm_slope)
            divSpecialInterceptSpanInput.val(specialValues.CO2_ppm_int)
            $('#pollutant').after(divSpecialIntercept.append(divSpecialInterceptSpan,divSpecialInterceptSpanInput).show())
            $('#pollutant').after(divSpecialSlope.append(divSpecialSlopeSpan,divSpecialSlopeSpanInput).show())
          }
          else if ($('#pollutant').find(":selected").text() == "O3 (PPB)"){
            divSpecialSlopeSpanInput.val(specialValues.O3_ppb_slope)
            divSpecialInterceptSpanInput.val(specialValues.O3_ppb_int)
            $('#pollutant').after(divSpecialIntercept.append(divSpecialInterceptSpan,divSpecialInterceptSpanInput).show())
            $('#pollutant').after(divSpecialSlope.append(divSpecialSlopeSpan,divSpecialSlopeSpanInput).show())
          }
          else if ($('#pollutant').find(":selected").text() == "Light VOCs (PPM)"){
            divSpecialSlopeSpanInput.val(20)
            divSpecialInterceptSpanInput.val(1.8)
            $('#pollutant').after(divSpecialIntercept.append(divSpecialInterceptSpan,divSpecialInterceptSpanInput).show())
            $('#pollutant').after(divSpecialSlope.append(divSpecialSlopeSpan,divSpecialSlopeSpanInput))
          }
          else if ($('#pollutant').find(":selected").text() == "Heavy VOCs (PPM)"){
            divSpecialSlopeSpanInput.val(10)
            divSpecialInterceptSpanInput.val(0)
            $('#pollutant').after(divSpecialIntercept.append(divSpecialInterceptSpan,divSpecialInterceptSpanInput).hide())
            $('#pollutant').after(divSpecialSlope.append(divSpecialSlopeSpan,divSpecialSlopeSpanInput))
          } else if ($('#pollutant').find(":selected").text() == "CO (PPM)"){
            divSpecialSlopeSpanInput.val(specialValues.CO_ppm_slope)
            divSpecialInterceptSpanInput.val(specialValues.CO_ppm_int)
            $('#pollutant').after(divSpecialIntercept.append(divSpecialInterceptSpan,divSpecialInterceptSpanInput).show())
            $('#pollutant').after(divSpecialSlope.append(divSpecialSlopeSpan,divSpecialSlopeSpanInput).show())
	  }
          else {
            $('#slopeParameter').remove()
            $('#interceptParameter').remove()
          }

          
          
      })

      console.log("Special Values:" , specialValues )
      function getSelectedPollutantAndPlot()
      {
        var pollutant = $('#pollutant').find(":selected").text();

        if ( pollutant == "CO2 (PPM)" || pollutant == "O3 (PPB)" || pollutant == "CO (PPM)" || pollutant == "Light VOCs (PPM)" || pollutant == "Heavy VOCs (PPM)" ) {
          getTimeSeriesGraphWithExtraParameters({{ displayContent1 | safe }}, pollutant , $('#slope').val() , $('#intercept').val() )
        } else {
          getTimeSeriesGraph({{ displayContent1 | safe }}, pollutant ) ;
        }
      }

      function getSelectedPollutantsAndPlot()
      {
        var pollutant1 = $('#pollutant1').find(":selected").text();
        var pollutant2 = $('#pollutant2').find(":selected").text();
	var data = {{ displayContent1 | safe }};
	console.log("ABF:", data[59]);
	getScatterPlotGraph({{ displayContent1 | safe }}, pollutant1 , pollutant2 ) ;
      }      

      function getSelectedPollutantAndBoxPlot()
      {
        var pollutant = $('#pollutant3').find(":selected").text();
        getBoxPlotGraph({{ displayContent1 | safe }}, pollutant ) ;
      }

      function getSelectedPollutantAndDoubleYAxisPlot()
      {
        var pollutant1 = $('#pollutant4').find(":selected").text();
        var pollutant2 = $('#pollutant5').find(":selected").text();
        getDoubleYAxisPlotGraph({{ displayContent1 | safe }}, pollutant1 , pollutant2)
      }

      

      {% if displayContent2 %}
        getCompareTimeSeriesGraph({{ displayContent1 | safe }},{{ displayContent2 | safe }}, 'Temperature');

        function getCompareSelectedPollutantAndPlot()
        {
          var pollutant = $('#pollutant6').find(":selected").text();
          getCompareTimeSeriesGraph({{ displayContent1 | safe }}, {{ displayContent2 | safe }} , pollutant )   ;
        }
  
        function getCompareSelectedPollutantsAndPlot()
        {
          var pollutant1 = $('#pollutant1').find(":selected").text();
          var pollutant2 = $('#pollutant2').find(":selected").text();
          getCompareScatterPlotGraph({{ displayContent1 | safe }}, {{ displayContent2 | safe }},    pollutant1 , pollutant2 ) ;
        }

        function getSelectedPollutantNonTimeSeriesComparePlot()
        {
          var pollutant = $('#pollutant7').find(":selected").text();
          getPollutantNonTimeSeriesComparePlotGraph({{ displayContent1 | safe }}, {{ displayContent2 | safe }}, pollutant ) ;

        }
  
        function getCompareSelectedPollutantAndBoxPlot()
        {
          var pollutant = $('#pollutant3').find(":selected").text();
          getCompareBoxPlotGraph({{ displayContent1 | safe }}, {{ displayContent2 | safe }}, pollutant ) ;
        }
        // console.log("Compare Function")
      {% else %}
        getTimeSeriesGraph({{ displayContent1 | safe }}, 'Temperature');
      {% endif %}
      
  </script>
  {% endblock %}

