{% extends 'overAllTemplate.html' %} 
{% load bootstrap %}

{% block 'container' %}
<h1> Air Quality Pod Data Portal </h1>

This website is designed to help air quality Pod users visualize and analyze their data. To begin, create an account or log-in using the link in the upper right hand corner.

The Pods are a new, next-generation technology that measures gas phase pollutants and are designed and built by Mike Hannigan’s Research Group at the University of Colorado Boulder. The purpose of the Pods is to create low cost air quality monitoring technologies for not only the use of the research team, but also for the use and education of the community. For more information about the pod technology or information regarding what the research team does, visit: <a href="https://www.colorado.edu/lab/hannigan/">Hannigan Lab's Website</a> 


<h1> AQ-IQ Program </h1>

The Air Quality InQuiry Program (AQ-IQ) puts Pods into the hands of high school and community citizen scientists to investigate air quality questions in their hometown. AQ-IQ began through a partnership between the Hannigan Lab, of the CU Boulder Mechanical Engineering department, the Western Slope Conservation Center in Paonia, Colorado, and several high school science teachers in the Delta County School District. For more information about AQ-IQ visit and to learn how to get involved, visit: <a href="https://www.colorado.edu/aqiq/"> AQ-IQ Website</a>

{% endblock %}
