{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UPOD</title>
<!--         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"  aria-  expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UPOD</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Data Analysis</a></li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="container">

            <h4 class="well"> List of uploaded documents </h4>
            <!-- List of uploaded documents -->
            {% if documents %}
                <ul class="list-group">
                    {% for document in documents %}
                        <li class="list-group-item"><a href="{{ document.docfile.name }}">{{ document.docfile.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
    
            <div class="row">
                <form action="{% url "index" %}" method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="col-md-12">
                    <!-- <span class="btn btn-info btn-block"> -->
                    {{ form.docfile.label_tag }}
                    <!-- </span> -->
                    <p></p>
                    </div>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    
                    <div class="col-md-12">
                    <input type="submit" value="Upload" class="btn btn-info btn-block"/>
                    </div>
                </form>
            </div>

        </div>

        
    </body>


</html>