{% extends 'overAllTemplate.html' %} 

{% block 'container' %}

<h4 class="well"> List of uploaded documents </h4>
<!-- List of uploaded documents -->
{% if documents %}
    <ul class="list-group">
        {% for document in documents %}
            <li class="list-group-item"><a href="{{ document.docfile.name }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<div class="row">
    <form action="{% url "index" %}" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="col-md-12">
        <!-- <span class="btn btn-info btn-block"> -->
        {{ form.docfile.label_tag }}
        <!-- </span> -->
        <p></p>
        </div>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        
        <div class="col-md-12">
        <input type="submit" value="Upload" class="btn btn-info btn-block"/>
        </div>
    </form>
</div>

{% endblock %}